* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding:40px;
  background-color: #fbfaf8;
  font-family: "Franklin Gothic Medium", Arial;
  font-size: 20px;
  word-wrap: break-word;
}

h2{
  color: black;
  text-align: center;
  margin-bottom: 30px;
  font-size: 48px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 1024px;
  min-width: 350px;
  width:90%;
  padding: 50px;
  border-radius: 25px;
  background-color: #1dbc7e;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);

  transition: transform 0.2s;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}

label{
  color: black;
  font-weight: bold;
}

input, label{
  display: block;
  width: 100%;
  padding: 8px;
}

input{
  box-sizing: 1px solid #ddd;
  border-radius: 8px;
  border:1px solid black;
}

input[type="radio"]{
  display: inline;
  width:10%;
}

input[type="radio"]:hover{
  cursor: pointer;
}

button{
  border: none;
  border-radius: 8px;
  padding: 10px 30px;
  font-size: 15px;
  color: #fbfaf8;
  background-color: black;
  margin: 5px;
}

button:hover{
  /*text-decoration: underline;*/
  transform: scale(1.05);
  cursor: pointer;
}

form > div{
  background-color:white;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  padding: 20px;
  margin: 15px auto;

  /*position:relative;
  display: flex;
  flex-wrap: wrap;*/
}

input[type="radio"]{
  height: 20px;
  width: 40px;
  padding: 10px;
}

.results{
  background-color: #fbfaf8;
  border-radius: 15px;
  padding: 20px;
  margin-top: 20px;
}

.results h3{
  font-size: 40px;
  color: #1dbc7e;
}

.results p{
  padding-top: 5px;
}

.results .num{
  color: #1dbc7e;
}